/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Dimensions
$max-content-width: 800px;

// Colors
$red-color: #FF3636;
$red-color-dark: #B71C1C;
$orange-color: #F29105;
$blue-color: #0076df;
$blue-color-dark: #00369f;
$cyan-color: #2698BA;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37;
$green-color-lime: #B7D12A;
$green-color-dark: #009f06;
$green-color-light: #ddffdd;
$green-color-bright: #11D68B;
$purple-color: #B509AC;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080;
$pink-color-light: #ffdddd;
$yellow-color: #efcc00;

$grey-color: #828282;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: color.adjust($grey-color, $lightness: -25%);

$white-color: #ffffff;
$black-color: #000000;